.circleMorph {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: border 0.3s ease;
}

    
.indicator {
  position: relative;
  width: 400px; /* عرض الشكل بالكامل */
  height: 120px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  transform: translateY(-50px);
  align-items: center;
}

@media (max-width: 768px) {
  .indicator {
    width: 320px; /* أصغر */
    transform: translateY(-30px);
  }
  .indicator .circle {
    width: 35px; /* تقليل حجم الدائرة */
    height: 35px;
    opacity: 0;
  }
  .circleMorph {
    width: 35px; /* تقليل حجم الدائرة */
    height: 35px;
  }
}


/* الخط الأزرق يمين ويسار */
.indicator .line {
  width: 140px;
  height: 3px;
  background: #0d294d;
}

/* الدائرة */
.indicator .circle {
  width: 45px;
  height: 45px;
  border: 3px solid #0d294d;
  background: transparent;
  border-radius: 50%;
  position: relative;
  opacity: 0;
}

/* النقطتين الطرفيين */
.indicator .dot {
  width: 20px;
  height: 20px;
  background: #0d294d;
  border-radius: 50%;
}

.indicator .left {
  margin-right: 0px;
}

.indicator .right {
  margin-left: 0px;
}

/* الخط الأحمر النازل */
.indicator .red-line {
  width: 3px;
  height: 70px;
  background: #e41d1d;
  position: absolute;
  top: 80px; /* أسفل الدائرة مباشرة */
  left: 50%;
  transform: translateX(-50%);
}
